* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #0f0f0f;
}
body #Menu_Btn {
  padding: 10px 20px;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 5%;
  border: solid 3px transparent;
  color: rgb(255, 69, 69);
  background-color: #202020;
  z-index: 1000000000000000000;
  font-size: 35px;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 768px) {
  body #Menu_Btn {
    padding: 10px 18px;
    font-size: 25px;
  }
}
body #Menu_Btn:hover {
  background-color: #202020;
  border: solid 3px rgb(255, 69, 69);
}
body .Menu_Box {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(2, 0, 34, 0.486)), url(../../Assets/Background_Img/Menu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(20, 20, 20);
  position: absolute;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
  animation: Zoom 40s linear infinite;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  body .Menu_Box {
    animation: Zoom_2 40s linear infinite;
  }
  @keyframes Zoom_2 {
    0% {
      background-size: 150%;
    }
    50% {
      background-size: 200%;
    }
    100% {
      background-size: 150%;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .Menu_Box {
    animation: Zoom_2 40s linear infinite;
  }
  @keyframes Zoom_2 {
    0% {
      background-size: 250%;
    }
    50% {
      background-size: 280%;
    }
    100% {
      background-size: 250%;
    }
  }
}
@media (min-width: 552px) and (max-width: 768px) {
  body .Menu_Box {
    animation: Zoom_2 40s linear infinite;
  }
  @keyframes Zoom_2 {
    0% {
      background-size: 280%;
    }
    50% {
      background-size: 320%;
    }
    100% {
      background-size: 280%;
    }
  }
}
@media (min-width: 320px) and (max-width: 552px) {
  body .Menu_Box {
    animation: Zoom_2 40s linear infinite;
  }
  @keyframes Zoom_2 {
    0% {
      background-size: 420%;
    }
    50% {
      background-size: 480%;
    }
    100% {
      background-size: 420%;
    }
  }
}
@keyframes Zoom {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
body .Menu_Box .Menu {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 1024px) {
  body .Menu_Box .Menu {
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }
}
body .Menu_Box .Menu div {
  width: 200px;
  height: 100px;
  background-color: #202020;
  position: relative;
  border-left: 3px solid rgb(255, 69, 69);
  border-right: 3px solid rgb(255, 69, 69);
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Show 1s linear forwards;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .Menu_Box .Menu div {
    width: 60%;
    height: 80px;
    border-radius: 40px;
    position: static;
    margin: 15px;
  }
}
@media (min-width: 552px) and (max-width: 768px) {
  body .Menu_Box .Menu div {
    width: 60%;
    height: 80px;
    border-radius: 40px;
    position: static;
    margin: 15px;
  }
}
@media (min-width: 320px) and (max-width: 552px) {
  body .Menu_Box .Menu div {
    width: 90%;
    height: 60px;
    border-radius: 40px;
    position: static;
    margin: 15px;
  }
}
body .Menu_Box .Menu div:first-child {
  top: 0%;
  left: 19%;
}
body .Menu_Box .Menu div:nth-child(2) {
  top: 28%;
  left: 9%;
}
body .Menu_Box .Menu div:nth-child(3) {
  top: 0%;
  left: -1%;
}
body .Menu_Box .Menu div:nth-child(4) {
  top: -28%;
  right: 41%;
}
body .Menu_Box .Menu div:hover {
  transform: scale(1.1);
  z-index: 5;
  cursor: pointer;
  background: #0f0f0f;
}
body .Menu_Box .Menu div:hover a {
  color: rgb(255, 69, 69);
}
body .Menu_Box .Menu div a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  z-index: 6;
  padding: 40px;
}
body .Menu_Box .Menu div:hover::before {
  background: #0f0f0f;
}
body .Menu_Box .Menu div:hover::after {
  background: #0f0f0f;
}
body .Menu_Box .Menu div::before {
  content: "";
  width: 93%;
  height: 123%;
  top: -9px;
  position: absolute;
  background-color: #202020;
  transform: rotate(58deg);
  border-left: 3px solid rgb(255, 69, 69);
  border-radius: 10px;
  border-right: 3px solid rgb(255, 69, 69);
}
@media (min-width: 320px) and (max-width: 1024px) {
  body .Menu_Box .Menu div::before {
    display: none;
  }
}
body .Menu_Box .Menu div::after {
  content: "";
  width: 93%;
  height: 121%;
  top: -9px;
  position: absolute;
  background-color: #202020;
  transform: rotate(-57deg);
  border-left: 3px solid rgb(255, 69, 69);
  border-right: 3px solid rgb(255, 69, 69);
  border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  body .Menu_Box .Menu div::after {
    display: none;
  }
}
body .About_Content {
  width: 100%;
  height: auto;
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body .About_Content .About_Img {
  width: 100%;
  height: 500px;
  background-image: url(../../Assets/Background_Img/8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 320px) and (max-width: 552px) {
  body .About_Content .About_Img {
    height: 300px;
  }
}
body .About_Content p {
  padding: 80px;
  color: whitesmoke;
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 552px) {
  body .About_Content p {
    padding: 15px;
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */